<section class="section bg_section">
	<div class="container">
		<div class="about--me" id="t1">
			<h2 class="title">About me</h2>
			<p class="about--me__text">
				Hi, I'm Vadim – Front-End developer from Kiev. <br />
				I'm interested in web-design and everything connected with it.
			</p>
			<p class="about--me__text">
				I finished my studies in<br />
				GoIt-Academy.
			</p>
			<p class="about--me__text">
				Ready to implement excellent projects <br />
				with wonderful people.
			</p>
		</div>
	</div>
</section>