<section class="section bg_section">
	<div class="container">
		<div class="portfolio" id="t3">
			<h2 class="title ">Portfolio</h2>
			<ul class="portfolio__list">
				<li class="portfolio__list--frame">
					<img class="portfolio__img all-img" src="./images/WebStudio.png"  alt="Web Studio" />
					<a href="https://vadimzaets.github.io/WebStudio/" target="_blank" class="portfolio__link">Web Studio -
						Concept</a>
				</li>
				<li class="portfolio__list--frame">
					<img class="portfolio__img all-img" src="./images/BoosterEvent.png" 
						alt="Event Booster" />
					<a href="https://andriivv.github.io/goit-js-project-team3/" target="_blank" class="portfolio__link">
						Event Booster - Project</a>
				</li>
				<li class="portfolio__list--frame">
					<img class="portfolio__img all-img" src="./images/SearchMovie.png" alt="Event Booster" />
					<a href="https://lpj-netlify-goit-react-hw-05-movies.netlify.app" target="_blank" class="portfolio__link">
						Search Movie -  Concept</a>
				</li>
					<li class="portfolio__list--frame">
						<img class="portfolio__img all-img" src="./images/book-read.png" alt="Book read" />
						<a href="https://storygraph-booksreading.netlify.app/login" target="_blank" class="portfolio__link">
							Storygraph-booksreading Project</a>
					</li>


			</ul>
		</div>
	</div>
</section>