<section class="section">
	<div class="container">
		<div class="skills" id="t2">
			<h2 class="title">Skills</h2>


			<ul class="skills_list">

				<li class="skills__blocks">
					<svg class="skills__blocks--icon html-icon">
						<use href="./images/sprite.svg#html"></use>
					</svg>

					<h3 class="skills__blocks--title">HTML 5</h3>
				</li>
				<li class="skills__blocks">
					<svg class="skills__blocks--icon css-icon">
						<use href="./images/sprite.svg#css3"></use>
					</svg>

					<h3 class="skills__blocks--title">CSS</h3>
				</li>

				<li class="skills__blocks">
					<svg class="skills__blocks--icon">
						<use href="./images/sprite.svg#javascript"></use>
					</svg>

					<h3 class="skills__blocks--title">Java Script</h3>
				</li>
				<li class="skills__blocks">
					<svg class="skills__blocks--icon ">
						<use href="./images/sprite.svg#react"></use>
					</svg>

					<h3 class="skills__blocks--title">React</h3>
				</li>
			</ul>
		</div>
	</div>
</section>