.footer__item {
  padding: 110px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__text {
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin-bottom: 30px;
}
.footer__btn {
  position: relative;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px 40px;
  overflow: hidden;
  margin: 0 0 15px 0;
  outline: none;
  border: 1px solid #fff;
  border-radius: 50px;
  height: 40px;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 60px;
}
.footer__btn:before {
  font-family: FontAwesome;
  content: '\2709';

  position: absolute;
  top: 11px;
  right: -30px;
  transition: all 200ms ease;
}
.footer__btn:hover:before {
  right: 15px;
}
.footer__btn:hover,
.footer__btn:focus {
  background-color: #828282;
}
.footer__text--link {
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #828282;
}
.footer_list {
  display: flex;
}

.subscribe__item--icon {
  fill: black;
  width: 40px;
  height: 40px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__item--icon:hover,
.subscribe__item--icon:focus {
  fill: #828282;
}
.footer_list--item:not(:last-child) {
  margin-right: 60px;
  margin-bottom: 40px;
}
